<!DOCTYPE html>
<html lang="en" class="vh-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= message %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"/>
</head>
<body class="vh-100">
    <div class="container vh-100 d-flex align-items-center justify-content-center flex-column">
        <h3 class="text-danger"><%= message %></h3>
        <p class="text-danger">
            <%= stack %>
        </p>
    </div>
</body>
</html>